<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>VN</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <link rel="stylesheet" type="text/css" href="css/story.css">
</head>

<body class="story-secondary-bg">

    <div class="story-bg">
        <div th:if="${!picture.isBlank()}">
            <img class="story-image" th:src="${picture}" alt="Node Picture" />
        </div>
        <div class="story-text">
            <p th:text="${text}"></p>
        </div>
    </div>

    <div th:if="${textField}">
        <form action="/story" method="get">
            <input type="hidden" name="user" th:value="${userId}" />
            <input type="hidden" name="node" th:value="${nodeId}" />
            <textarea class="story-textarea" type="text" name="data"></textarea>
            <button class="story-button" type="submit" th:text="Submit"></button>
        </form>
    </div>

    <div th:unless="${textField}">
        <div class="story-button-list">
            <div th:each="button : ${buttons}">
                <form action="/story" method="get">
                    <input type="hidden" name="user" th:value="${userId}" />
                    <input type="hidden" name="node" th:value="${button.getNextNodeId()}" />
                    <button class="story-button" type="submit" th:text="${button.getText()}"></button>
                </form>
            </div>
        </div>
    </div>

</body>

</html>